body {background-color: #080808;}

h1, h2, h3 {text-align: center; margin:8px;}
h1 {color: #f0f0f0;}
p, dd {font-size: 16px; max-width: 800px;}

h1 { font-size: 36pt; }
h2 { font-size: 24pt; }
h3 { font-size: 18pt; }

p { text-indent: 16pt; font-family: Verdana, Geneva, Tahoma, sans-serif; }
dt, dd {display: inline; margin: 4px; padding: 4px;  }
dt {font-weight: bold; font-size: 14pt; }
dd { }


table, th, td {
	padding: 8px; 
	border: 1px solid black; 
	border-collapse: collapse;
	background-color: #111111;
	color:#f0f0f0;
}

td > img {
	max-width: 140px;
}

td > p {
	max-width: 320px;
}

.rules {
	font-size: 16px;
	color: black;
}

.hint{
	font-size: 14px;
	font-style: italic;
	color: #111111;
}

.damage, .missile{
	color:rgb(210, 60, 60);
	background-color: rgb(59, 15, 15);
}

.range{
	color:goldenrod;
	background-color: darkslategray;
}

.cost, .Plasma {
	color:rgb(137, 165, 130);
	background-color: rgb(4, 48, 6);
}

.space{
	color:rgb(230, 230, 230);
	background-color: rgb(41, 41, 41);
}

.power, .energy{
	color:rgb(110, 196, 218);
	background-color: rgb(6, 33, 68);
}

.ammo, .ballistic{
	color:rgb(152, 112, 11);
	background-color: rgb(248, 229, 165);
}

.light {
	color:rgb(80,80,80);
	background-color: rgb(180, 180, 180);
}

.heavy {
	color:rgb(180, 180, 180);
	background-color: rgb(50, 50, 50);
}

table, tbody, thead, tr, th, td, .subsystem, .subsystemtype{
	border-radius: 12px; 
}

.subsystem {
	display: flex;
	flex-flow: column wrap;
	border: 2px solid black;
	padding: 8px; 
	margin: 8px;
	background-color: #e0e0e0;
	width: 30%;
	}

.subsystemtype, .weapon {
	display: flex;
	flex-flow: column wrap;
	border: 2px solid black;
	padding: 8px; 
	margin: 8px;
	background-color: #c0c0c0;
	}

.weapon{ display:flex; flex-flow:row wrap;  }
.weapon > h2 {width: 100%;}

.weapon > dl { font-size: 16pt; display: flex; flex-flow: column wrap; }
.weapon > dl, .weapon > p {width: 30%; }
.weapon   dt, .weapon   dd {margin: 0px;}

.subsystemPanel {
	display: flex;
	flex-flow: row wrap;
	}

.weaponTraitParagraph {
	max-width: 450px;
	font-size: 11pt;
}